:root {
    --light: #fff;
    --dark: #1E2019;
    --main: #F6BD60;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 1rem;
    width: 14rem;
    font-family:"Lato", sans-serif;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
}

h3 {
    font-size: inherit;
}

.toggle_button {
    position: relative;
    width: 3.5em;
    height: 2em;
    margin: 1.5rem 0;
    cursor: pointer;
}

input[type=checkbox] {
    visibility: hidden;
}

input[type=checkbox]:checked + .slider{
    background-color: var(--dark);
}

input[type=checkbox]:checked + .slider::before{
    left: 1.75em;
}

.slider {
    border-radius: 1em;
    background-color: var(--main);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.slider::before {
    position: absolute;
    content: '';
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    background-color: var(--light);
    top: 0.25em;
    bottom: 0.25em;
    left: 0.25em;
    transition: 0.3s;
}

.set_timer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--main);
    border: 1px solid var(--dark);
    font-size: large;
}